<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87871384965-o71r9mht7tc1oklgmaclmv7g94nk8ljr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87871384965-o71r9mht7tc1oklgmaclmv7g94nk8ljr</string>
	<key>API_KEY</key>
	<string>AIzaSyCCXV307gsGNE3OhDUK9wA7k3rjIk3dEzA</string>
	<key>GCM_SENDER_ID</key>
	<string>87871384965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshitaka.PhotoEmotion</string>
	<key>PROJECT_ID</key>
	<string>photoemotion-d5382</string>
	<key>STORAGE_BUCKET</key>
	<string>photoemotion-d5382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87871384965:ios:a1bc481a8f06f0588828ec</string>
</dict>
</plist>